# Ansible -- http://ansible.com/
# ==============================================
[defaults]
inventory      = ./hosts
library        = ./library
#vault_password_file = ~/.ansible_pw

gathering = smart
roles_path    = ./roles
host_key_checking = True
deprecation_warnings = True
command_warnings = True
nocows = 1
fact_caching = memory
fact_caching_timeout = 86400
retry_files_enabled = False

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r

